<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Panel de control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Funciones </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/home">
        <ion-icon name="document-outline"></ion-icon>
        Realizar solicitud
      </ion-button>
      <br>
      <ion-button routerLink="/solicitudes">
        <ion-icon name="list-outline"></ion-icon>
        Registro de solicitudes
      </ion-button>
      <br>
      <ion-button routerLink="/crea-producto">
        <ion-icon name="add-circle-outline"></ion-icon>
        Añadir producto
      </ion-button>
      
      <ion-button routerLink="/mod-producto">
        <ion-icon name="create-outline"></ion-icon>
        Modificar productos
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
