<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Nueva solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-input
      type="number"
      [(ngModel)]="cantidad"
      label="Cantidad"
      label-placement="floating"
      fill="outline"
      placeholder="Ingrese cantidad que solicita"
      min = "0"
      required
    ></ion-input>
  </ion-card-content>
  <br />
  <ion-card-content>
    <ion-item>
      <ion-select
        [(ngModel)]="solicitanteSeleccionado"
        label="Solicitante"
        label-placement="floating"
        placeholder="Seleccione un solicitante"
        required
      >
        <ion-select-option
          *ngFor="let solicitante of solicitantes"
          [value]="solicitante.idsolicitante"
        >
          {{ solicitante.nombre }} {{ solicitante.appaterno }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card-content>
  <ion-card-content>
    <ion-button (click)="enviarSolicitud()">Ingresar</ion-button>
  </ion-card-content>
</ion-content>